<section class="ui-view-more vip-section-specs main-section">
    <h2 class="main-section__title">
         Descripción de platillo:
    </h2>
      
      <div class="description-content-main-group attribute-content">
          
          <div class="card-section">
              
          <div class="container z-depth-2 col-7 left" >
          <img src="{{platilloService.platillo?.imagen}}" width="100%"> 
          </div>
          
          <div class="specs-wrapper">
          <section class="specs-container specs-layout-alternate">
            <ul class="specs-list">
           
            <li class="specs-item">
              <strong>Linea</strong>
              <span> {{platilloService.platillo?.linea}}</span>
            </li>
                  
            <li class="specs-item">
              <strong>Modelo</strong>
              <span> {{platilloService.platillo?.modelo}}</span>
            </li>
                  
            <li class="specs-item">
              <strong>Aleación</strong>
              <span> {{platilloService.platillo?.aleacion}}</span>
            </li>
                  
            <li class="specs-item">
              <strong>Diametro</strong>
              <span>{{platilloService.platillo?.diametro}}</span>
            </li>
                  
            <li class="specs-item">
              <strong>Descripción</strong>
              <span> {{platilloService.platillo?.descripcion}}</span>
            </li>
              
            <li class="specs-item">
              <strong>Stock</strong>
              <span> {{platilloService.platillo?.stock}}</span>
            </li>
            
            <li class="specs-item">
              <strong>Precio </strong>
              <span> {{platilloService.platillo?.precio}}</span>
            </li>
            
            <li class="specs-item">
              <strong>Categoria </strong>
              <span>{{platilloService.platillo?.categoria}}</span>
            </li>

            </ul>


          </section>
          
