<section id="profile" class="container">
  <div class="row mt-5">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
      <div class="row user-details">
        <div class="col-12">
          <img src="" class="rounded-circle img-thumbnail" alt="profile">
          <h3>{{usuario.nombre_usuario}}</h3>
          <p>
            {{usuario.email}}
          </p>
          <h4>{{usuario.nombre}}</h4>
          <h4>{{usuario.email}}</h4>

          <hr>
          <span>{{usuario.tel}}</span>
        </div>
      </div>
    </div>
  </div>
</section>

